.App {
  text-align: center;
  background-image: url("https://www.desktop-background.com/download/1280x1024/2014/01/19/703573_the-smurfs-wallpapers-1920x1080-2-hebus-org-high-definition_1920x1080_h.jpg");
  height: 100vh;
}

.smurfCard {
  background: #88FFFE;
  border: 5px solid black;
  width: 275px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.smurfSec {
  display: flex;
  width: 925px;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 80px;
}

.topBar {
  color: #88FFFE;
  width: 100%;
  background: #03175E;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

form {
  display: flex;
  align-content: flex-start;
  margin-left: 17px;
  position: fixed;
  bottom: 10px;
  left: 0;
}

input {
  border: 5px solid #88FFFE;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  height: 20px;
}

button {
  background: #88FFFE;
  border-radius: 10px;
  height: 33px;
  margin-top: 10px;
}